*.swp

*.o
*.lo
*.la
*.deps
*.libs
Makefile.in
Makefile *.o
Kernel/Applications/Makefile
Kernel/Applications/load_bits
Kernel/Classes/Makefile
Kernel/Formats/Makefile
Kernel/Formats/apsr/Makefile
Kernel/Formats/asp/Makefile
Kernel/Formats/bcpm/Makefile
Kernel/Formats/bpsr/Makefile
Kernel/Formats/caspsr/Makefile
Kernel/Formats/cpsr/Makefile
Kernel/Formats/cpsr2/Makefile
Kernel/Formats/dada/Makefile
Kernel/Formats/dummy/Makefile
Kernel/Formats/fadc/Makefile
Kernel/Formats/fits/Makefile
Kernel/Formats/gmrt/Makefile
Kernel/Formats/guppi/Makefile
Kernel/Formats/lbadr/Makefile
Kernel/Formats/lbadr64/Makefile
Kernel/Formats/lbadr64/lbadr64_fix
Kernel/Formats/mark4/Makefile
Kernel/Formats/mark5/Makefile
Kernel/Formats/maxim/Makefile
Kernel/Formats/mwa/Makefile
Kernel/Formats/pdev/Makefile
Kernel/Formats/pmdaq/Makefile
Kernel/Formats/puma/Makefile
Kernel/Formats/puma2/Makefile
Kernel/Formats/s2/Makefile
Kernel/Formats/sigproc/Makefile
Kernel/Formats/spda1k/Makefile
Kernel/Formats/spigot/Makefile
Kernel/Formats/vdif/Makefile
Kernel/Formats/wapp/Makefile
Kernel/Makefile
Makefile
Management/Makefile
Management/dspsr_cflags
Management/dspsr_ldflags
Management/release.csh
More/Applications/searchplot
Signal/General/Makefile
Signal/General/digifil
Signal/General/digihist
Signal/General/digimon
Signal/General/digistat
Signal/General/digitxt
Signal/General/dmsmear
Signal/General/filterbank_speed
Signal/General/passband
Signal/Makefile
Signal/Pulsar/Makefile
Signal/Pulsar/dspsr
Signal/Statistics/sk_distrib_plot
Signal/Statistics/sk_limit_plot
Signal/Statistics/sklimit
Signal/Statistics/test_Romberg
aclocal.m4
autom4te.cache/
backends.list
config.h
config.h.in
config.h.in~
config.log
config.status
config/Makefile
config/Makefile.aclocal
config/Makefile.bootstrap
config/Makefile.include
config/Makefile.local
config/Makefile.root
config/ac_pkg_swig.m4
config/ac_python_devel.m4
config/bootstrap.m4
config/cfitsio.m4
config/compile
config/compiler.m4
config/config.guess
config/config.sub
config/debug.m4
config/depcomp
config/etr_socket_nsl.m4
config/getopt_long.m4
config/install-intermediate
config/install-sh
config/local.m4
config/ltmain.sh
config/missing
config/mpi.m4
config/package.m4
config/pgplot.m4
config/psrchive.m4
config/py-compile
config/x11.m4
configure
libtool
local_include/
python/dspsr.py
python/dspsr_wrap.cxx
stamp-h1
update.log
/.project
/*.log
/*.fits
/*.dat
/*.tim
/SdkMasterLog.csv
/deviceQuery.txt
